[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=/home/dev/6_sem/KURSACH_seti/02_model/omnetpp-6.0.3/bin/opp_ide
Icon=/home/dev/6_sem/KURSACH_seti/02_model/omnetpp-6.0.3/images/logo/logo128.png
Name=OMNeT++ 6.0.3 IDE
Categories=Development

